bridge.clear()
-spacing=2
-height=20
-width=100
-x=5
-y=5
-#="drawHorizontalPower(5,5,100,20,.75,'peripheralName')"
-@tanks.each_with_index do |tank, index|
  =showTank(x,y+(index*(height+spacing)),width,height,spacing,tank)
  -#="drawHorizontalTank(x,#{spacing+index*height},#{width},#{height},'#{tank.settings["getTankInfo"]["1"]["name"]}',#{(tank.settings["getTankInfo"]["1"]["amount"].to_f/tank.settings["getTankInfo"]["1"]["capacity"].to_f)})"